# Predicting stock price

## Linear Regression to predict values

The Dataset contains stock price of TCs for a 10 year period

In [3]:
#importing the required packages/libraries
import pandas as pd
import numpy as np
import quandl
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import seaborn as sns

# Importing the Dataset

In [4]:
df = pd.read_csv("TCS.NS (1).csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,377.399994,379.450012,374.524994,375.825012,282.137970,1963682.0
1,2010-01-05,377.500000,379.774994,373.274994,375.924988,282.213104,2014488.0
2,2010-01-06,375.924988,376.100006,366.500000,367.424988,275.832092,3349176.0
3,2010-01-07,367.750000,369.700012,355.500000,357.200012,268.156036,6474892.0
4,2010-01-08,358.000000,359.250000,348.250000,349.899994,262.675659,6048178.0

In [25]:
#Create a new df for manipulation/adding/removing coloumns
new_df = df[['Adj Close']]
new_df.head()

    Adj Close
0  282.137970
1  282.213104
2  275.832092
3  268.156036
4  262.675659

In [27]:
#variable to predict 'n' days into future
forecast_out  = 1
#add coloumn with target/dependent varible shifted by 'n' units
new_df['Prediction'] = new_df['Adj Close'].shift(-1)
new_df.head()

c:\users\vignesh\miniconda3\envs\vis\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    Adj Close  Prediction
0  282.137970  282.213104
1  282.213104  275.832092
2  275.832092  268.156036
3  268.156036  262.675659
4  262.675659  268.080841

In [17]:
df.groupby(df['Date'].dt.year)

AttributeError: Can only use .dt accessor with datetimelike values