# Predicting stock price

## Linear Regression to predict values

The Dataset contains stock price of TCs for a 5 year period

In [65]:
#importing the required packages/libraries
import pandas as pd
import numpy as np
import quandl
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import seaborn as sns

# Importing the Dataset

In [142]:
df = pd.read_csv("new_book.csv")
#filling null values
df['Adj Close'].fillna(df['Adj Close'].mean())

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,01-01-2015,1283.500000,1283.500000,1270.500000,1272.780029,1100.664063,366830
1,02-01-2015,1275.500000,1295.469971,1275.300049,1289.719971,1115.313232,925740
2,05-01-2015,1290.500000,1299.949951,1262.319946,1270.119995,1098.363892,1754242
3,06-01-2015,1264.550049,1264.550049,1220.000000,1223.300049,1057.875244,2423784
4,07-01-2015,1235.000000,1239.569946,1203.719971,1208.849976,1045.379272,2636332

In [143]:
#Create a new df for manipulation/adding/removing coloumns
new_df = df[['Adj Close']]
new_df.head()

     Adj Close
0  1100.664063
1  1115.313232
2  1098.363892
3  1057.875244
4  1045.379272

In [144]:
#variable to predict 'n' days into future
forecast_out  = 20
#add coloumn with target/dependent varible shifted by 'n' units
new_df['Prediction'] = new_df['Adj Close'].shift(-forecast_out)
new_df.head()

c:\users\vignesh\miniconda3\envs\vis\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     Adj Close   Prediction
0  1100.664063  1077.511353
1  1115.313232  1091.463989
2  1098.363892  1110.582397
3  1057.875244  1091.507324
4  1045.379272  1108.047119

In [145]:
### Create independent dataset X ###
#convert dataset to numpy array

X = np.array(new_df.drop(['Prediction'],1))

#Removing the last 'n' rows

X = X[:-forecast_out]

print(X.shape)

(1210, 1)

In [146]:
### Create Dependent dataset Y ###
#Convert dataset to numpy array

Y = np.array(new_df['Prediction'])
Y = Y[:-forecast_out]
Y.shape

(1210,)

# Create test/train data

In [147]:
#split the data into 80% train and 20% test
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2)

## Create a Support Vector Machine

In [148]:
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.1)
svr_rbf.fit(x_train,y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [152]:
#testing accuracy of the SVM 
svr_confidence = svr_rbf.score(x_test,y_test)
print("SVM Confidence : ",svr_confidence)

SVM Confidence :  0.9151395686770696

# Create a Linear Regression model

In [150]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [153]:
#testing accuracy of Linear Regression model
lr_confidence = lr.score(x_test,y_test)
print("Linear Regression confidence : ",lr_confidence)

Linear Regression confidence :  0.9477726411881565

In [154]:
x_forecast = np.array(new_df.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

[[2046.353149]
 [2073.790771]
 [2116.493896]
 [2118.788818]
 [2055.781738]
 [2008.289551]
 [2037.273804]
 [2016.321411]
 [2066.557373]
 [2121.931641]
 [2160.044922]
 [2162.838623]
 [2223.999756]
 [2217.863525]
 [2226.643799]
 [2210.580322]
 [2196.961182]
 [2193.519043]
 [2178.253662]
 [2156.802246]]

# Prediction for the next 'n' days

In [155]:
predict = lr.predict(x_forecast)
predict

array([2060.098617  , 2087.35903502, 2129.78636486, 2132.06646527,
       2069.46631211, 2022.2808501 , 2051.07791032, 2030.26083689,
       2080.17235342, 2135.18899056, 2173.05611959, 2175.83177766,
       2236.59790574, 2230.50130516, 2239.22487237, 2223.26514022,
       2209.73395849, 2206.3140503 , 2191.1472597 , 2169.83438618])